@import url('https://fonts.googleapis.com/css?family=Raleway:300,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f0eee2;
  font-family: 'Raleway', sans-serif;
  color: #4e4b43;
}

h1 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 4px;
}

h2 {
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 2px;
}

.large-font {
  font-size: 2rem;
}

.gold-gradient {
  background-color: #c58568;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cursive-font {
  font-family: 'Great Vibes', cursive;
}

/* LAYOUT */
.container {
  box-sizing: border-box;
  width: 850px;
  height: 1200px;
  margin: 20px auto;
  background-image: url('/img/tree-leafs.png'), url('/img/texture.jpg');
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

@media (max-width: 600px) {
  .container {
    margin: 200px auto;
  }
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.8fr 0.5fr 1fr;
  grid-template-areas: 'who who' 'when where' 'actions actions';
  padding-top: 300px;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

button {
  margin: 1.5rem 0;
  padding: 0.5rem 2rem;
  background-color: #4d8b59;
  color: #fff;
  border: solid 1px #4d8b59;
  box-shadow: 0 0 10px #8da87a78;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}
